<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title color="light">
      {{word.word | lowercase}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-card color="secondary">
      <ion-card-content text-center>
        <ion-text color="light">
          <h1 id="word">{{word.word | uppercase}}</h1>
        </ion-text>
        <ion-label color="light" id="type">
          <h2 class="translation">({{word.type}})</h2>
        </ion-label>
        <ion-icon name="megaphone" (click)="play()"></ion-icon>
        <ion-label color="light" class="ion-margin-top">
          <h2 class="translation"><span class="pre">Definition:</span> {{word.definition}}</h2>
        </ion-label>
        <ion-text>
          <h2><span class="pre">Example 1:</span> {{word.exampleSentence}}</h2>
        </ion-text>
        <ion-text>
          <h2><span class="pre">Example 2:</span> {{word.exampleSentence2}}</h2>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>