<ion-content>
    <div id="img">
      <img src="../../assets/new-education(4).png">
    </div>
    <div id="container" *ngFor="let item of word">
      <ion-button class="ion-margin-top" color="secondary" routerLink="{{item.id}}">
        <span>{{item.word}}</span>
        <ion-icon name="play" color="light"></ion-icon>
      </ion-button>
    </div>
    <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
</ion-content>
