
ion-toolbar {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ion-title {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  ion-icon {
    position: absolute;
    margin-left: 6.4rem;
    margin-top: 0.05rem;
    font-size: 1.6rem;
  }
  ion-button {
    margin-top: 2rem;
    height: 4.5rem;
    width: 65vw;
    background: #3880ff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    border-radius: 7px;
  }

  
  span {
    font-weight: 300;
    font-size: 1.3rem;
  }
  @media (max-width: 350px) {
    ion-toolbar {
      height: 4.5rem;
    }
    ion-title {
      font-size: 0.8rem !important;
    }
    ion-icon {
      margin-left: 4rem !important;
      font-size: 1.9rem !important;
    }
  }
  
  @media (max-width: 365px) {
    ion-toolbar {
      height: 4.6rem;
    }
  
    ion-icon {
      margin-left: 4.8rem;
      font-size: 2rem;
    }
  }
  
  @media (max-width: 450px) {
    ion-icon {
      margin-left: 6.3rem;
      font-size: 1.4rem;
  
    }
    ion-title {
      font-size: 1.7rem;
    }
    span {
      font-size: 1.05rem;
    }
  }
  
  @media (min-width: 780px) {
    ion-toolbar {
      height: 8rem;
    }
  
    ion-back-button {
      font-size: 2.3rem;
    }
  
    ion-button {
      height: 8rem;
      margin-top: 3.5rem;
    }
    span {
      font-size: 3rem;
    }
    ion-title {
      font-size: 2.9rem;
    }
    #long {
      font-size: 3.3rem !important;
    }
    ion-icon {
      margin-left: 17rem;
      font-size: 3.4rem;
    }
  }
  @media (min-width: 650px) and (max-width: 770px) {
    ion-back-button {
      font-size: 1.7rem;
    }
    ion-toolbar {
      height: 6.5rem;
    }
    span {
      font-size: 2.5rem;
    }
    #long {
      font-size: 2.3rem !important;
    }
    ion-icon {
      margin-left: 12rem;
      font-size: 2.4rem;
    }
    ion-title {
      font-size: 2.4rem;
    }
  }
  